
<form name="Myform" action="" onsubmit="MyLogin()">
    <h2>Login Page</h2>
    <hr>
    <label for="ename">
        Enter Email:
    </label>
    <input type="email" class="" placeholder="Enter Email Address">
    <label for="pwd">
        Enter Password:
    </label>
    <input type="password" class="" placeholder="Enter Password"><br />
    
    <input type="submit" value="Submit"><br />
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label><br />
    <br/>
    <button type="button" style="padding:10px; background-color:rgb(224, 68, 89); width: 120px">Cancel</button>
    <span class="frg">Forgot <a href="#">password?</a></span>

</form>

